$black: #3B434E;
$gray-light: #EBEBEB;
$gray-dark: #787D85;
$white: white;
$primary: #7653FC;
$primary-hover: #4b2ebd;
$red: #FC836D;
$green: #1DC37E;
$green-light: #C8F8E4;
$font-family: 'Open Sans', sans-serif;
$gray: #A4A4A4;
$red-light: #FEA291;